<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- <groups>
		<run>
			<include name="anbu"></include>
			<include name="kishore"></include>
		</run>
	</groups> -->
  <test name="Hello">
  	<parameter name="num1" value="5"/>
  	<parameter name="num2" value="15"/>
  	<parameter name="num3" value="6"/>
  	<parameter name="num4" value="9"/>
  	<parameter name="statement" value="androidapp"/>
  	<parameter name="data1" value="260"/>
  	<parameter name="data2" value="40"/>
  
    <classes>
      
      <!-- <class name="selenium.testng.NoonSeleniumTestNG.AppTest"/>
      
      <class name="selenium.testng.NoonSeleniumTestNG.MyTestClass1"/>
      
      <class name="selenium.testng.NoonSeleniumTestNG.MyTestClass2"/> -->
      
      <class name="selenium.testng.NoonSeleniumTestNG.MyTestClass3"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
